.settings{
    right: 5%;
    top: 10%;
    animation: 5s linear infinite settings;
    cursor: pointer;
}
.settings img{
    box-shadow: 0 0 10px 2px inset deeppink;
    border-radius: 50%;
}
@keyframes settings{
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}