
/* For Bootstrap V 4.4.1 */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');


/* For Fontawesome  V 5.12.1*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');

*{
    scroll-behavior: smooth;
}




/* For Custom Css V 1.0 */



.list_style_none{
    list-style: none;
}
/* Width */
.w_200{
    width: 12.5rem;
}
.w_250{
    width: 15.625rem;
}
.w_300{
    width: 18.75rem;
}

/* Height */
.h_100mvh{
    min-height: 100vh;
}

.h_200{
    height: 12.5rem;
}
.h_250{
    height: 15.625rem;
}
.h_300{
    height: 18.75rem;
}
@media (max-width: 768px){
    .header_sm_style{
        height: auto!important;
        width: 100%;
        position: static!important;
    }
    .header_sm_style #logo{
        width: 6rem!important;
        margin: 2px auto;
        height: 6rem;
        object-fit: cover;
        border-radius: 100%;
        display: none;
    }
    .text_sm_left{
        text-align: left!important;
    }
}

/* Padding and Margin */
.mp_0{
    margin: 0;
    padding: 0;
}
@media (min-width: 769px){
    .ml_250px{
        margin-left:250px
    }
}
/* Background bg */
.bg_222{
    background: #222;
}
.bg_bg_linear{
    background: linear-gradient(rgba(0, 0, 0, 0.815), rgba(0, 0, 2, 0.795));

}
.bg_none{
    background: none;
}
/* Border */
.border_228_bottom{
 border-bottom: 1px solid rgba(228, 222, 222, 0.103);
}
.border_bottom_dotted{
    border-bottom: 1px dotted white;
}



/* Font size */
.font_50per{
    font-size: .5rem;
}
.font_75per{
    font-size: .75rem;
}
.font_1r{
    font-size: 1rem;
}
.font_2r{
    font-size: 2rem;
}
.font_3r{
    font-size: 3rem;
}


/* Scroll Effect  */


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #444;
}


form *:focus{
    border: none;
    outline: none;
}
.text-light,
.text-light:active{
    color: white!important;
}


@keyframes moveEffect{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-200px);
        opacity: 0;
        pointer-events: none;
    }
}

